canvas { 
  display: block;
  padding: 0;
  margin: 0;
}
body{
  padding: 0;
  margin: 0;
  text-align: center;
}
.welcome {
  color: #fff;
  position:absolute;
  z-index: 1; 
  
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Sacramento', cursive;
  font-weight: lighter;
  font-size: 300% ;

  width:500px;
  left:50%;
  margin-left:-150px;
  margin-top : 20%;

  cursor : default;

}
.welcome img {
  max-width: 100%;
  height: auto;
  display: block;
}


 