canvas { 
  display: block; 
  padding: 0;
  margin: 0;
}
body{
  padding: 0;
  margin: 0 auto 0 auto;
}
.welcome {
  margin : 50px 20% auto 20%;
  color: #fff;
  position:absolute;
  z-index: 1; 
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Sacramento', cursive;
  font-weight: lighter;
  font-size: 500% ;
}